<h2>Customer successfully created!</h2>
<ul>
    <li>

        <a href="@Url.Action("AddCustomer", "Customer")">Create another</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Customer")">Home Page</a>
    </li>
</ul>